$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
/*
video: 270A
pin: 270B
google: 270C
search: 270D
fb: 270E
tw: 2710

*/
$primary-color : #0776bd;
$secondary-color: #0866a3;
$red            : #d71530;
$dark-grey      : #4e4e4e;
$white          : #ffffff;
$bd-color       : #e3e3e3;
$light-grey     : #bdbdbd;
$black          : #000000;
$lighten-grey   : #f6f6f6;
$light2         : #c2c2c2;
$light3         : #f8f8f8;
$bd-color2      : #83bbde;
@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
}