$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "color";
.main-menu {
    background: $primary-color;
    a {
        color: $white;
    }
}
.nav > li {
    &.active {
        background: $secondary-color;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            height: 3px;
            width: 100%;
            top: -3px;
            left: 0;
            background: $red;
        }
    }
    a {
        background: transparent;
        &:hover {
            background: transparent;
        }
    }

}
.top-slide {
    margin-bottom: 90px;
}

.hot-prod {
    h4 {
        position: relative;
        &:after {
            content: '';
            height: 2px;
            width: 100%;
            position: absolute;
            top: 13px;
            left: 0;
            background: $bd-color;
            z-index: 0;
        }
        p {
            position: relative;
            padding-right: 10px;
            color: $dark-grey;
            background: $white;
            display: inline-block;
            z-index: 1;
        }
    }

}
.marketing {
    strong {
        margin-bottom: 0.2em;
        display: inline-block;
    }
    p {
        margin-bottom: 0.5em;
    }
    ul {
        margin: 0;
        padding: 0;
        margin-bottom: 0.7em;
        li {
            list-style: none;
        }
        &.checked {
            li {
                padding-left: 25px;
                background: url(../images/checked.png) no-repeat 0 5px;
                background-size: 16px;
            }
        }
        &.circle {
            li {
                padding-left: 15px;
                position: relative;
                &:before {
                    position: absolute;
                    top: 8px;
                    left: 0;
                    content: '';
                    border-radius: 50%;
                    background: $light-grey;
                    width: 5px;
                    height: 5px;
                }
            }
        }
    }
    .more {
        font-size: 0.8em;
    }
}
figure {
    .title {
        font-weight: bold;
    }
}
