$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "color";


@font-face {
  font-family: 'Noteworthy-Bold';
  src: url('fonts/Noteworthy-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Noteworthy-Bold.woff') format('woff'),
        url('fonts/Noteworthy-Bold.ttf')  format('truetype'),
        url('fonts/Noteworthy-Bold.svg#Noteworthy-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: $dark-grey;
}
a {
    color: $dark-grey;
    &:hover {
        text-decoration: none;
    }
}
header {
    padding-top: 1em;
    padding-bottom: 1em;
    .logo {
        max-width: 200px;
        height: auto;
        margin-right: 2em;
    }
    .slogan {
        font-style: italic;
        font-weight: bold;
        color: $primary-color;
        font-size: 1.5em;
        line-height: 1;
        &:before,&:after {
            font-family: 'Noteworthy-Bold';
            content: '“';
            color: $light2;
            position: relative;
            font-size: 1.5em;
        }
        &:after {
            content: '”';
            top: 16px;
        }
        .red {
            display: inline-block;
        }
    }
}

.unstyled {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}
.red {
    color: $red;
}
.avenfont {
    font-family: 'AvenirNext-Bold';
    font-size: 1.2em;
}

.search {
    position: relative;
    color: $light-grey;
    font-size: 0.85em;
    .glyphicon-search {
        position: absolute;
        top: 8px;
        left: 2em;
        z-index: 1;
    }
    input[type="text"] {
        border: 1px solid $bd-color;
        padding-left: 2em;
        @include border-radius(5px);
        background: $light3;
        height: 2.2em;
    }
}
.main-menu {
    background: $primary-color;
    a {
        color: $white;
    }
}
.nav > li {
    &:before {
        left: 0;
        right: 0;
        width: 0;
        height: 3px;
        top: -3px;
        background: $red;
        content: '';
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        transition: width 0.4s;
    }
    &.active,&:hover {
        background: $secondary-color;
        position: relative;
        &:before {
            width: 100%;
        }
    }
    a {
        background: transparent;
        font-weight: bold;
        font-size: 0.85em;
        &:hover,&:focus {
            background: transparent;
        }
    }
}
.nav-pills > li + li {
    margin-left: 0;
}

.hot-prod {
    h4 {
        position: relative;
        &:after {
            content: '';
            height: 2px;
            width: 100%;
            position: absolute;
            top: 13px;
            left: 0;
            background: $bd-color;
            z-index: 0;
        }
        p {
            position: relative;
            padding-right: 10px;
            color: $dark-grey;
            background: $white;
            display: inline-block;
            z-index: 1;
        }
    }

}
.marketing {
    margin-top: 3em;
    font-size: 0.97em;
    strong {
        margin-bottom: 0.2em;
        display: inline-block;
    }
    p {
        margin-bottom: 0.5em;
    }
    ul {
        margin-bottom: 0.7em;
        &.checked {
            li {
                padding-left: 25px;
                background: url(../images/checked.png) no-repeat 0 5px;
                background-size: 16px;
            }
        }
        &.circle {
            li {
                padding-left: 15px;
                position: relative;
                &:before {
                    position: absolute;
                    top: 8px;
                    left: 0;
                    content: '';
                    border-radius: 50%;
                    background: $light-grey;
                    width: 5px;
                    height: 5px;
                }
            }
        }
    }
    .more {
        font-size: 0.8em;
    }
}
.media-list {
    .media {
        border-bottom: 1px solid $bd-color;
        padding-bottom: 10px;
        .media-heading {
            font-size: 1.2em;
            font-weight: bold;
            display: block;
            &.hot {
                margin-top: 0.5em;
            }
        }
        img:not(.img-responsive) {
            max-width: 100px;
            margin-right: 15px;
        }
        &:last-child {
            border: none;
        }
    }
    .topnews {
        border-bottom: 1px solid $bd-color;
    }
}


.hotnews {
    background: $lighten-grey;
    padding-top: 3.5em;
    padding-bottom: 2em;
    margin-top: 2em;
    .hotnews-title {
        position: relative;
        display: inline-block;
        margin-bottom: 2.5em;
        &:after {
            content: '';
            height: 2px;
            background: $red;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            position: absolute;
            width: 50%;
            bottom: -10px;
        }
    }
}
.view-more {
    color: $primary-color;
    font-size: 0.9em;
    margin-top: 1em;
    .glyphicon-menu-right {
        font-size: 0.8em;
    }
}
footer {
    border-top: 3px solid $red;
    padding-top: 3em;
    color: $white;
    background: $primary-color url(../images/bg-footer.png) no-repeat top right;
    background-size: auto 90%;
    .footer {
        padding-bottom: 2em;
    }
    ul {
        li {
            margin-bottom: 1em;
            &.title {
                border-bottom: 1px solid $bd-color2;
                margin-bottom: 1.5em;
                padding-bottom: 1em;
                font-weight: bold;
            }
        }
    }
    a {
        color: $white;
        display: inline-block;
        position: relative;
        &:after {
            content: '';
            height: 1px;
            background: $white;
            width: 0;
            position: absolute;
            left: 0;
            bottom: -2px;
        }
        &:hover {
            color: $white;
            &:after {
                width: 100%;
                transition: width 0.6s;
            }
        }
    }


    .copyright {
        color: $light2;
        font-style: italic;
        background: $white;
        padding: 1.3em 0 0.5em;
    }
}
.breadcrumb-container {
    margin-top: -3.2em;
    position: relative;
    .breadcrumb {
        display: inline-block;
        background: $white;
        color: $dark-grey;
        font-size: 1.2em;
        padding-top: 11px;
        padding-bottom: 15px;
        > li + li:before {
            @extend .glyphicon;
            @extend .glyphicon-menu-right;
            color: $light-grey;
        }
        > .active {
            color: $red;
        }
    }
}
.pagination {
    > li > a,  > li > span {
        border: 1px solid $white;
    }
    > .active > a, > .active > a:hover, > .active > a:focus, > .active > span, > .active > span:hover, > .active > span:focus {
        background: transparent;
        color: $primary-color;
        border: 1px solid $bd-color;
        @include border-radius(3px);
    }
    > li > a:hover, > li > a:focus, > li > span:hover, > li > span:focus {
        background: transparent;
        border: 1px solid $bd-color;
        @include border-radius(3px);
    }
}

.category, .product-page {
    .marketing {
        margin-top: 0;
    }
    .media-list {
        .media {
            margin-top: 0;
            border: none;
            margin-bottom: 3em;
        }
    }
    h1 {
        font-size: 1.2em;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 20px;
    }
    h2.title {
        margin-bottom: 10px;
        font-size: 1.2em;
        margin-top: 0;
    }
    .news-img {
        float: none;
        margin-bottom: 1em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}
.product-page {
    .media {
        margin-top: 0;
        border: none;
        margin-bottom: 0.5em;
    }
}
