$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "color";


@font-face {
  font-family: 'Noteworthy-Bold';
  src: url('fonts/Noteworthy-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Noteworthy-Bold.woff') format('woff'),
        url('fonts/Noteworthy-Bold.ttf')  format('truetype'),
        url('fonts/Noteworthy-Bold.svg#Noteworthy-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}
*:focus {
    outline: none;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: $dark-grey;
}
a {
    color: $dark-grey;
    &:hover {
        text-decoration: none;
    }
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
h1 {
    font-size: 1.5em;
    font-weight: bold;
}
h2 {
    text-transform: uppercase;
}
.unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}
header {
    background: $primary-color;
    position: relative;
    &:after {
        position: absolute;
        bottom: 1px;
        height: 39px;
        right: 0;
        content: '';
        background: $secondary-color;
        z-index: 0;
        width: 40%;
    }
    .header-container {
        &:before {
            content: '';
            background: url("../images/bg-header.png") no-repeat 0 0;
            width: 185px;
            height: 100%;
            display: block;
            position: absolute;
            left: -85px;
        }
        position: relative;
        z-index: 1;
    }
    .logo {
        max-width: 200px;
        height: auto;
        margin-right: 2em;
    }
    .hotline {
        background: $secondary-color;
        color: $white;
        padding: 1em 6em;
        height: 39px;
        position: relative;
        margin: 0;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: $primary-color;
            width: 6em;
            height: 100%;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: url(../images/corner.png) no-repeat top right;
            background-size: auto 100%;
            height: 100%;
            width: 6em;
        }
        li {
            float: left;
            list-style: none;
            margin-right: 2em;
        }
        label {
            text-transform: uppercase;
            color: $dark-green;
        }
    }
}
.margin-block {
    margin-top: 10px;
}
.right-slide {
    overflow: hidden;
    a {
        display: block;
        width: 100%;
        position: relative;
        height: 100%;
        img {
            margin: auto;
            height: 100%;
            width: auto;
            position: absolute;
            left: 0;
            right: 0;
        }
    }
}
.title-block {
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
    color: $primary-color;
    border-bottom: solid 2px $primary-color;
    padding-bottom: 5px;
}
.news-block {
    border-bottom: 1px solid $bd-color;
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
.sportline-prod {
    background: $lighten-grey;
    border: 1px solid $bd-color;
    margin: 40px 0;
    padding: 15px 0;
    position: relative;
    strong {
        font-size: 14px;
        margin-bottom: 5px;
        display: block;
    }
    .congdung {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            background: url(../images/li-icon.png) no-repeat 0 5px;
            padding-left: 30px;
            margin-bottom: 10px;
        }
    }
    .thanhphan {
        width: 100%;
    }
    .more {
        background: $white;
        position: absolute;
        bottom: -1px;
        right: -1px;
        border: 1px solid $bd-color;
        padding: 10px;
        font-size: 1em;
        .glyphicon {
            color: $bd-color;
        }
    }
}

.social {
    margin-bottom: 1em;
    .glyphicon {
        color: $primary-color;
        margin-left: 3px;
        font-size: 18px;
        &.glyphicon-video {
            font-size: 24px;
            top: 2px;
        }
        &:hover {
            color: $dark-grey;
        }
    }
}
.navbar-collapse {
    border: none;
    box-shadow: none;
}
.navbar-toggle {
    margin-right: 0;
    .icon-bar {
        background: $white;
        transition: all .3s;
        position: relative;
    }
}

.navbar-toggle[aria-expanded="true"] {
    .icon-bar:first-child {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 5px;
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
    }
    .icon-bar:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 0;
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
    }
    .icon-bar:last-child {
        opacity: 0;
    }
}

.navbar-search {
    width: 100%;
    &#search-menu {
        display: none;
    }
}

.search {
    width: 100%;
    position: relative;
    color: $light-grey;
    font-size: 0.85em;
    .glyphicon-search {
        position: absolute;
        top: 10px;
        left: 12px;
        z-index: 1;
        color: $dark-grey;
    }
    input[type="text"] {
        width: 100%;
        border: 1px solid $bd-color;
        padding-left: 30px;
        @include border-radius(5px);
        background: $light3;
        height: 30px;
        padding: 5px;
    }
}
.main-menu {
    background: $primary-color;
    padding-left: 3em;
    a {
        color: $white;
    }
}
.nav > li {
    &.active,&:hover {
        background: transparent;
        position: relative;
        &:before {
            width: 100%;
        }
    }
    a {
        background: transparent;
        font-weight: bold;
        font-size: 0.85em;
        padding-top: 15px;
        padding-bottom: 15px;
        &:hover,&:focus {
            background: transparent;
        }
    }
}
.nav-pills > li + li {
    margin-left: 0;
}

.hot-prod {
    padding-left: 0;
    h4 {
        position: relative;
        &:after {
            content: '';
            height: 2px;
            width: 100%;
            position: absolute;
            top: 13px;
            left: 0;
            background: $bd-color;
            z-index: 0;
        }
        p {
            position: relative;
            padding-right: 10px;
            color: $dark-grey;
            background: $white;
            display: inline-block;
            z-index: 1;
        }
    }

}
.marketing {
    margin-top: 3em;
    font-size: 0.97em;
    strong {
        margin-bottom: 0.2em;
        display: inline-block;
    }
    p {
        margin-bottom: 0.5em;
    }
    ul {
        margin-bottom: 0.7em;
        &.checked {
            li {
                padding-left: 25px;
                background: url(../images/checked.png) no-repeat 0 3px;
                background-size: 13px;
            }
        }
        &.circle {
            li {
                padding-left: 15px;
                position: relative;
                &:before {
                    position: absolute;
                    top: 8px;
                    left: 0;
                    content: '';
                    border-radius: 50%;
                    background: $light-grey;
                    width: 5px;
                    height: 5px;
                }
            }
        }
    }

}
.more {
    font-size: 0.8em;
    .glyphicon {
        color: $secondary-color;
        &:after {
            content: "\e258";
            position: relative;
            right: 5px;
        }
    }
}
.media-list {
    .media {
        padding-bottom: 10px;
        margin-top: 10px;
        .media-heading {
            margin-bottom: 0;
            font-size: 1em;
            font-weight: bold;
            display: block;
            .category & {
                font-size: 1.2em;
                margin-bottom: 5px;
            }
            &.hot {
                margin-top: 0.5em;
            }
        }
        img:not(.img-responsive) {
            max-width: 100px;
        }
        &:last-child {
            border: none;
        }
    }
    .topnews {
        border-bottom: 1px solid $bd-color;
    }
}
.media-body {
    .title-lnk {
        display: block;
        margin-top: 5px;
        font-width: bold;
    }
}

.hotnews {
    background: $lighten-grey;
    padding-top: 3em;
    padding-bottom: 2em;
    margin-top: 2em;
    .hotnews-title {
        position: relative;
        display: inline-block;
        margin-bottom: 2.5em;
        &:after {
            content: '';
            height: 2px;
            background: $red;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            position: absolute;
            width: 50%;
            bottom: -10px;
        }
    }
}
.view-more {
    color: $primary-color;
    font-size: 0.9em;
    .glyphicon-menu-right {
        font-size: 0.8em;
    }
}
.cta-block {
    background: $light3;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-top: 35px;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    &:after {
        content: '';
        background: url(../images/cta-border-bottom.png) no-repeat 0 0;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 27px;
        height: 27px;
    }
    .title {
        font-weight: bold;
        padding-top: 5px;
        display: block;
    }
}
.cta-hot {
    h3 {
        font-size: 13px;
        background: $secondary-color;
        border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        padding: 10px;
        text-align: center;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            background: url(../images/cta-icon.png) no-repeat 0 16px;
            a {
                font-weight: bold;
                font-size: 14px;
                font-style: italic;
            }
            border-bottom: 1px solid $bd-color;
            padding: 10px 0 10px 30px;
            &:last-child {
                border: none;
            }
            &:first-child {
                background: none;
            }
        }
    }
}
.retail {
    margin-top: 20px;
}
#feedback {
    padding: 1em;
    border: 7px solid transparent;
    border-image: 16 repeating-linear-gradient(-45deg, #d82262 0, #d82262 1em, #f7f7f7 0, #f7f7f7 2em,
            #2377b9 0, #2377b9 3em, #f7f7f7 0, #f7f7f7 4em);
    margin-top: 10px;
    h4 {
        color: #3f88c1;
        font-weight: bold;
    }
    label {
        display: block;
        margin-bottom: 1em;
    }
    input, textarea {
        width: 100%;
        height: 35px;
        border: 1px solid $bd-color;
        background: $white;
        margin-bottom: 5px;
        padding: 5px;
    }
    textarea {
        height: 80px;
    }
    .feedback-btn {
        background: $secondary-color;
        color: $white;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        width: auto;
        padding: 10px;
        float: none;
        margin: auto;
        line-height: 1;
        display: block;
    }
}
.fabook {
    margin-top: 10px;
}
.news-detail {
    .intro {
        font-style: italic;
        color: $intro;
    }
}
.released {
    margin-top: 20px;
}
footer {
    padding-top: 3em;
    background: $footer-bg url(../images/bg-footer.png) no-repeat top right;
    background-size: auto 80%;
    .footer {
        padding-bottom: 2em;
    }
    ul {
        li {
            margin-bottom: 1em;
            &.title {
                border-bottom: 1px solid $bd-color;
                margin-bottom: 1.5em;
                padding-bottom: 1em;
                font-weight: bold;
            }
        }
    }
    a {
        display: inline-block;
        position: relative;
        &:after {
            content: '';
            height: 1px;
            background: $secondary-color;
            width: 0;
            position: absolute;
            left: 0;
            bottom: -2px;
        }
        &:hover {
            color: $secondary-color;
            &:after {
                width: 100%;
                transition: width 0.6s;
            }
        }
    }


    .copyright {
        color: $light2;
        font-style: italic;
        background: $white;
        padding: 1.3em 0 0.5em;
    }
}
.breadcrumb-container {
    position: relative;
    .breadcrumb {
        display: inline-block;
        background: $white;
        color: $dark-grey;
        font-size: 1.2em;
        margin-bottom: 0;
        padding-top: 11px;
        > li + li:before {
            @extend .glyphicon;
            @extend .glyphicon-menu-right;
            color: $light-grey;
        }
        > .active {
            color: $red;
        }
    }
}
.pagination {
    float: right;
    > li > a {
        margin-right: 5px;
    }
    > li:first-child > a, > li:first-child > span,
    > li:last-child > a, > li:last-child > span{
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
    }
    > li > a,  > li > span {
        border: 1px solid $bd-color;
        @include border-radius(50%);
    }
    > .active > a, > .active > a:hover, > .active > a:focus, > .active > span, > .active > span:hover, > .active > span:focus {
        background: $secondary-color;
        color: $white;
        border: 1px solid $white;
        @include border-radius(50%);
    }
    > li > a:hover, > li > a:focus, > li > span:hover, > li > span:focus {
        background: transparent;
        color: $dark-grey;
        border: 1px solid $bd-color;
        @include border-radius(50%);
    }
}

.category, .product-page {
    .media-list {
        margin-top: 2em;
        border-top: 1px solid $bd-color;
        padding-top: 15px;
        .media {
            margin-top: 0;
            border-bottom: 1px solid $bd-color;
            margin-bottom: 1em;
        }
    }
    h1 {
        font-size: 1.2em;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 20px;
    }
    h2.title {
        margin-bottom: 10px;
        font-size: 1.2em;
        margin-top: 0;
    }
    .news-img {
        float: none;
        margin-bottom: 1em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .released {
        .media {
            margin-bottom: 1em;
            img:not(.img-responsive) {
                max-width: 70px;
            }
        }
    }
    .carousel-indicators {
        li{
            background: $bd-color;
            border: 1px solid $bd-color;
        }
        .active {
            background: $secondary-color;
            border: none;
        }
    }
}
.product-page {
    .media {
        margin-top: 0;
        border: none;
        margin-bottom: 0.5em;
    }
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background: transparent;
}
@media (max-width: 1024px) {
    header .header-container:before {
        content: none;
    }
}
@media (min-width: 768px) {
    .navbar-toggle,.navbar-brand,.header .social {
        display: none;
    }
}
@media (max-width: 768px) {
    .img-responsive {
        width: 100%;
    }
    .logo {
        float: none !important;
        margin-left: auto;
        margin-right: auto;
    }
    .text-center-for-sm{
        text-align: center;
    }
    .hide-for-sm {
        display: none;
    }
    .center-for-mobile {
        float: none !important;
    }
    .social {
        margin-bottom: 1em;
        border-top: 1px solid $bd-color3;
        padding: 2em 0 1.5em;
        .glyphicon {
            color: $white;
            &:hover {
                color: $white;
            }
        }
    }
    .nav > li {
        display: block;
        width: 100%;
        &:before {
            content: none;
        }
        &:first-child:hover {
            background: transparent;
        }
    }
    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        background: transparent;
    }
    .glyphicon-search {
        color: $white;
    }
    .navbar-search {
        display: none;
        &#search-menu {
            display: block;
            margin-bottom: 3em;
            border-bottom: solid 1px $bd-color3;
            color: $white;
            .glyphicon-search {
                color: $white;
            }
        }
    }
    .search input[type="text"] {
        background: transparent;
        border-radius: 0;
        border: none;
        &::-webkit-input-placeholder {
            color: $white;
        }
    }
    .marketing {
        .items {
            margin-bottom: 3em;
        }
        .img-responsive {
            text-align: center;
            margin: auto;
        }
    }
    .right-slide {

    }
    footer {
        background-image: none;
        text-align: center;
        .items {
            margin-bottom: 40px;
        }
        ul li.title {
            border: none;
            padding-bottom: 0;
            font-size: 1.2em;
            margin-bottom: 1em;
        }
    }
}
